<ul class='comment'>
  <li>
    <span class='username'><%= comment.user.name %></span>:
    <span><%= comment.text %></span>
  </li>

  <% if can? :destroy, comment %>
      <%= button_to "Delete",
      user_post_comment_path(user_id: comment.user.id, post_id: comment.post.id, id: comment.id),
      class: "",
      method: :delete
      %>
    <% end %>
</ul>