<div class="users-container">
    <% @users.each do |user| %>
    <div class='user-container'>
        <% unless user.role == 'admin' %>
            <%= render user %>
        <% end %>
    </div>
    <% end %>
</div>