<div class='single-user'>
    <%= render @user %>
    <div class='single-user-info'>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
    </div>
    <% @user.recent_posts.each do |post| %>
        <%= render post %>
    <% end %>
</div>