<div class='single-user-info'>
    <h3>Post #<%= index + 1 %></h3>
    <p><%= post.text%>...</p>
    <div class='counters'>
    <span>Comments: <%= post.comments.size ||= 'No comments yet' %></span>,
    <span>Likes: <%= post.likes.size ||= 0 %></div></span>
</div>