<div>
<%= render @user %>
<div class="">
    <% @posts.each_with_index do |post, index| %>
    <div class=''>
        <%= render 'posts', post: post, index: index %>
    </div>
    <% end %>
</div>

</div>