<div class='post-container'>
<%= render @user %>
    <% @posts.each_with_index do |post, index| %>
        <%= render 'posts', post: post, index: index %>
    <% end %>
    <button type='button' class='pagination'>Pagination</button>
</div>