
  <h1 class="form-title">Add new Post</h1>

<section>
    <%= form_with model: @post, url: user_posts_path, scope: :post, class: "form" do |form| %>
        <% form.label :title %>
        <%= form.text_field :title, placeholder: 'Enter Post title' %>
        <% form.label :text %>
        <%= form.text_area :text, placeholder: 'Write Post' , cols: 30, rows: 10 %>
        <%= form.submit "Submit", class: "btn" %>
    <% end %>
</section>
</div>