body{
    background-color: whitesmoke;
}

.app-container{
    width: 90%;
    border: 1px solid yellow;
    padding: 30px;
    display: flex;
    margin: 0 auto;
}

.users-container{
    width: 90%;
}

.user-container{
    border: 1px solid red;
    margin-bottom: 15px;
}

.user{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.image-container{
    width: 10%;
    height: 10%;
}

.users .user-details{
    flex: 1;
    border: 1px solid black;
}